@import "./setting.scss";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&display=swap');
@import 'swiper/css';

html {scroll-behavior: smooth;}

.body, html {
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
}

.text-hide {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0,0,0,0);
  clip-path: inset(50%);
}

.loading {
  color: #ffffff;

  .text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 110;
    color: #ffffff;
    transform: translate(-50%, -50%);
    font-size: 7vw;
  }

  .bg {
    position: absolute;
    background: #000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow: hidden;
  }
  .circle {
    width: 15vw;
    height: 15vw;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    z-index: 100;
  }

  .circle--red {
    position: absolute;
    background: red;
    transform: translateX(700px) translateY(-686px) translateZ(0px);
    animation: moving-red 2s;
  }

  .circle--pink {
    position: absolute;
    background: pink;
    transform: translateX(700px) translateY(-686px) translateZ(0px);
    animation: moving-pink 1.5s;
  }

  @keyframes moving-red {
    0% {
      transform: translateX(-10.22vw) translateY(26.2vw) translateZ(0);
    }
    50% {
      transform: translateX(13.35vw) translateY(0vw) translateZ(0)
    }
    100% {
      transform: translateX(30.22vw) translateY(-52.2vw) translateZ(0);

    }
  }

  @keyframes moving-pink {
    0% {
      transform: translateX(-25.7vw) translateY(26.2vw) translateZ(0);
    }
    50% {
      transform: translateX(13.35vw) translateY(-6vw) translateZ(0)
    }
    100% {
      transform: translateX(55.7vw) translateY(-55.2vw) translateZ(0);
    }
  }


}

.loading.hide {
  opacity: 0;
}

.stop-scrolling {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%
}



.header {
  position: fixed;
  width: 100vw;
  z-index: 10;

  &__container {
    padding: 5vw 5vw 4vw;
    text-align: right;
    z-index: 10;
  }

  &__item {
    float: left;
  }

  &__item:nth-child(3),
  &__item:nth-child(4){
    float: right;
  }

  a {
    display: block;
    padding: 17px;
    color: #424242;
    font-size: 1vw;
    font-weight: 800;
  }
}


.content {
  position: relative;
  width: 100vw;
  height: 100vh;

}

.main {
  width: 100vw;
  text-align: center;
  background: url(../images/visual_img_2.png);
  background-size: 160%;

  p {
    position: absolute;
    text-align: left;
    left: 45vw;
    top: 29vw;

  }
  p a + a {
    margin-left: 2vw;
  }

  p a {
    color: #424242;
    font-size: 1vw;
    font-weight: 800;
  }

  a:hover {
    color: #f93700;
  }

  svg {
    display: inline-block;
    position: absolute;
    left: 39vw;
    top: 28vw;
    width: 42px;
    height: 42px;
    fill: #f93700;
    animation-name: ckw;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
  }
  @keyframes ckw {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.visual-img {
  h2 {
    position: absolute;
    top: 22vw;
    left: 50%;
    transform: translate(-50%);
  }

 span {
   color: #ffffff;
   font-size: 4.5vw;
   opacity: .8;
 }
}

@media only screen and (max-width: 1050px) {
  .header .header__item a {
      font-size: 2vw ;
  }

  .visual-img {
    top: 37vw;

    span {
      font-size: 7vw;
    }
  }
  
  .main {
    background-size: cover;

    p  {
      top: 32vw;
    }

    p a {
      font-size: 3vw;
    }

    svg {
      top: 30.5vw;
      left: 29vw;
  }
  }
}


.about {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #f2f2f2;
}

.goals {
  position: absolute;
  width: 100vw;
  top: 25%;

  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.introduce-box {
  float: left;
  width: 33.3vw;
  text-align: center;

  .inrtroduce-box__main-img {
    width: 20vw;
  }

  p {
    font-size: 2vw;;
    text-align: left;
    line-height: 1.2;
  }

  .express-word {
    margin-top: 2vw;
    padding-right: 33%;
    font-size: 1vw;
    line-height: 1.5;
  }

  .career {
    text-align: left;
  
    h3 {
      padding-bottom: 1.5vw;
      font-size: 2vw;
      line-height: 1;
      font-weight: normal;
    }
  
    p {
      font-size: 1vw;
     line-height: 1.6;
    }
  }

   .skills {
    text-align: left;
    margin-top: 3vw;

  
    &__item {
      display: inline-block;
      position: relative;
      margin: .5vw 0;
    }
  
    .percent {
      width: 30vw;
      height: 1vh;
      background:#e3e3e3;
  
    }
  
    p {
      font-size: 1vw;
      text-align: left;
    }
  
    .percent:before {
      display: inline-block;
      position: absolute;
      left: 0;
      width: 0;
      height: 1vh;
      background:#424242;
      content:'';
      transition: all ease-in .7s;
    }
  
    .percent-html:before {
      width: 27vw
    }
  
    .percent-css:before {
      width: 25vw
    }
  
    .percent-javascript:before {
      width: 20vw
    }
  
    .percent-bem:before {
      width: 20vw
    }
    .percent-jquery:before {
      width: 20vw
    }
  
    .percent-vue:before {
      width: 5vw
    }
  
  }
  
  .word {
    margin-top: 17vh;

    &:after {
      display: inline-block;
      content:'';
      clear: both;
    }
    li {
      float:left;
      text-align: center;
      font-size: 1vw;
    }

    img {
      width: 3vw;
    }
  
    li:nth-child(2) {
      margin: 0 2vw;
    }
  
    span {
      display: block;
    }

  }

}

@media only screen and (max-width: 1050px) {
  .introduce-box {
    display: block;
    width: 100vw;
    float: none;

    .express-word {
      padding: 0 15vw;
      text-align: center;
      font-size: 3vw;
    }

    p {
      text-align: center;
      font-size: 4vw;
  
    }
    .career p {
      font-size: 3vw;
    }
  }

  .word {
    display: inline-block;
    margin-top: 7vw !important;
    margin-bottom: 2vw;

    img {
      width: 7vw !important;
    }

    li {
      font-size: 3vw !important;
    }
  }

  .career {
    h3 {
      text-align: center;
      margin-top: 3vw;
      font-size: 4vw !important;
    }
  
  }

  .goals {
    top: 15%;
  }

  .skills {
    display: none;
  }

  .detail {
    padding: 7vw !important;
  }
}

.work-swiper {
  background: #f2f2f2;

  .work-swiper-slide {
    .img > img {
      width: 49.5vw;
    }
  }

  .work-swiper-slide:after {
    display: block;
    content:'';
    clear: both;
  }

  .work-swiper-slide--right .detail {
    right: 0;
  }

  .work-swiper-slide--right .img {
    float: left;
  }

  .work-swiper-slide--left .detail {
   left: 0;
   text-align: right;
  }

  .work-swiper-slide--left .img {
    float: right;
  }

  .work-swiper-slide--left a {
    margin-left: auto;
  }

  .detail {
    display: inline-block;
    position: absolute;
    width: 50vw;
    padding: 23.5vw 5vw 1vw 5vw;
    color: #000000;
    box-sizing: border-box;

    a {
      display: block;
      width: 100px;
      height: 26px;
      margin-top: 1vw;
      padding-top: 2px;
      border: 1px solid #000000;
      border-radius: 15px;
      color: #000000;
      text-align: center;
      box-sizing: border-box;
      transition: all ease .4s;

      &:hover {
        color: #f93700;
        border-color: #f93700;
      }
    }

  }

  .number {
    display: block;
    font-size: 2vw;
  }

  h4 {
    margin-top: -6px;
    font-size: 2vw;
    font-weight: bold;
  }

  .contribute, .description {
    display: inline-block;
    font-size: 1vw;
  }

  .contribute {
    margin: 15px 0 7px 0;
    span {
      color: #333333;
    }
  }

  .work-all {
    position: relative;
    padding: 5vw;
    background: #dbd5c9;

    a {
      display: block;
      color: #ffffff;
      font-size: 11vw;
      line-height: 1.1;
      text-align: center;
    }

    &:hover a:before{
      width: 85vw;
    }

    a:before {
      position: absolute;
      display: block;
      width: 0;
      height: 3px;
      margin-top: 13vw;
      background: #ffffff;
      transition: all ease 1s;
      content:'';
    }
  }
}


@media only screen and (max-width: 1050px) { 

  .work-swiper {
    .detail {
      background: #ffffff;
      box-shadow: -3px 2px 7px rgb(0 0 0 / 70%);

      .number {
        font-size: 4vw;
        line-height: 1.7;
      }

      h4 {
        font-size: 4vw;
      }

    }
  }

    .work-swiper-slide--right .img,
    .work-swiper-slide--left .img {
      float:none;
    }
    .work-swiper-slide + .work-swiper-slide {
      margin-top: 13vw;
    
  }

  .work-swiper-slide .img > img {
    width: 100vw !important;
  }

  .work-swiper .contribute, 
  .work-swiper .description {
    font-size: 2.5vw;
  }
}

.contact {
  width: 100vw;
  height: 100vh;
  padding-top: 32vh;
  background: #dbd5c9;
  font-size: 4.5vw;
  text-align: center;
  box-sizing: border-box;

  .rolling {
    display: inline-block;
    overflow: hidden;
    width: 25vw;
    height: 4.5vw;
    line-height: 1.2;

    &:before {
      display: block;
      position: absolute;
      width: 25vw;
      height: 2px;
      margin-top: 6vw;
      background:#000000;
      content: '';
    }

    .wrap {
      animation-name: rolling;
      animation-duration: 5s;
      animation-timing-function: cubic-bezier(.455,.03,.515,.955);
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    @keyframes rolling {
      0% {
        transform: translateY(-3%);
      }
      15% {
        transform: translateY(-3%);

      }

      35% {
        transform: translateY(-27%);
      }

      50% {
        transform: translateY(-27%);
      }

      70% {
        transform: translateY(-53%);
      }

      100% {
        transform: translateY(-53%);
      }
    }

  }

  .contact_1 {
    display: inline-block;
  }

  .contact_3 {
    margin-top: 4vw;
    color: #f93700;
    font-size: 2vw;
  }

  // .smiley {
  //   width: 4.1vw;
  //   height: 4.1vw;
  //   animation-name: smiley;
  //   animation-duration: 5s;
  //   animation-timing-function: cubic-bezier(.455,.03,.515,.955);
  //   animation-iteration-count: infinite;
  //   animation-direction: alternate
  // }

  // @keyframes smiley {
  //   0% {
  //     transform: rotate(-15deg)
  //   }

  //   5% {
  //     transform: rotate(25deg)
  //   }

  //   10% {
  //     transform: rotate(-10deg)
  //   }

  //   40% {
  //     transform: rotate(380deg)
  //   }

  //   50% {
  //     transform: rotate(330deg)
  //   }

  //   55% {
  //     transform: rotate(370deg)
  //   }

  //   80% {
  //     transform: rotate(-20deg)
  //   }

  //   90% {
  //     transform: rotate(30deg)
  //   }

  //   to {
  //     transform: rotate(-15deg)
  //   }
  // }

  .contact_4 {
    margin-bottom: 4vw;
    font-size: 1vw;
  }
}


@media only screen and (max-width: 1050px) { 
  .contact_3 {
    font-size: 3vw;
    font-weight: bold;
  }

  .contact_4 {
    font-size: 3vw;
  }
}


