@import "./setting.scss";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&display=swap');
@import 'swiper/css';

html { font-size: 62.5%; scroll-behavior: smooth;}

.body, html {
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
}

.text-hide {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0,0,0,0);
  clip-path: inset(50%);
}

.loading {
  color: #ffffff;
  font-size: 2rem;

  .text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 110;
    color: #ffffff;
    transform: translate(-50%, -50%);
    font-size: 7vw;
  }

  .bg {
    position: absolute;
    background: #000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow: hidden;
  }
  .circle {
    width: 15vw;
    height: 15vw;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    z-index: 100;
  }

  .circle--red {
    position: absolute;
    background: red;
    transform: translateX(176px) translateY(-686px) translateZ(0px);
    animation: moving-red 2s;
  }

  .circle--pink {
    position: absolute;
    background: pink;
    transform: translateX(700px) translateY(-686px) translateZ(0px);
    animation: moving-pink 1.5s;
  }

  @keyframes moving-red {
    0% {
      transform: translateX(-176px) translateY(686px) translateZ(0px);
    }
    50% {
      transform: translateX(155px) translateY(13px) translateZ(0px)
    }
    100% {
      transform: translateX(176px) translateY(-686px) translateZ(0px);

    }
  }

  @keyframes moving-pink {
    0% {
      transform: translateX(-700px) translateY(686px) translateZ(0px);
    }
    50% {
      transform: translateX(103px) translateY(-148px) translateZ(0px)
    }
    100% {
      transform: translateX(700px) translateY(-686px) translateZ(0px);
    }
  }


}

.loading.hide {
  opacity: 0;
}

.header {
  position: fixed;
  width: 100vw;
  z-index: 10;

  &__container {
    padding: 5vh 5vh 4vw;
    text-align: right;
    z-index: 10;
  }

  &__item {
    float: left;
  }

  &__item:nth-child(3),
  &__item:nth-child(4){
    float: right;
  }

  a {
    display: block;
    padding: 17px;
    color: #424242;
    font-size: 1.5rem;
    font-weight: 800;
  }
}

.content {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100vw;
  text-align: center;
  background: #dbd5c9;

  p {
    margin-top: 20px;

  }
  p a + a {
    margin-left: 2vw;
  }

  p a {
    color: #424242;
    font-size: 1.4rem;
    font-weight: 800;
  }

  a:hover {
    color: #f93700;
  }

  svg {
    display: inline-block;
    position: absolute;
    width: 42px;
    height: 42px;
    margin-top: -3.5vh;
    margin-left: -9vw;
    fill: #f93700;
    animation-name: ckw;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
  }
  @keyframes ckw {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .job {
    position: absolute;
    top: 67vh;
    left: 69vw;
    font-size: 1.8rem;
  }


}

.visual-img {
  position: relative;

  &:before {
    display: block;
    position: absolute;
    bottom: 46px;
    left: 40px;
    width: 50vw;
    height: 50vw;
    border: 1px solid #a5a096;
    border-radius: 50%;
    content: "";
  }

  &:after {
    display: block;
    position: absolute;
    bottom: 164px;
    width: 100vw;
    height: 1px;
    background: #a5a096;
    content:'';
    z-index: 1;
  }

  img {
    width: 30vw;
    margin-top: 3vh;
    margin-left: -2vw;
    z-index: 10;
  }

  h2 {
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translate(-50%);
    margin-top: -25vw;
  }

 span {
   color: #ffffff;
   font-size: 7rem;
   opacity: .8;
 }

  span + span {
    margin-left: 22vw;
  }

  .express-word {
    display: block;
    font-size: 1.4rem;
    text-align: center;
  }
}

.goals {
  background: #f2f2f2;
  text-align: center;
}

.words {
  padding: 7vh 0 5vh;

  img {
    display: inline-block;
    width: 3.5vw;
    margin-bottom: 10px;
  }

  ul {
    display:inline-block;
    text-align: center;

    &:after {
      display: inline-block;
      content:'';
      clear: both;
    }
  }

  li {
    float:left;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
  }

  li:nth-child(2) {
    margin: 0 50px;
  }

  span {
    display: block;
  }
}

.career {
  display: inline-block;
  text-align: left;

  h3 {
    display: inline-block;
    font-size: 3rem;
    vertical-align: top;
    line-height: 1;
  }

  p {
    display: inline-block;
    padding-left: 30px;
    font-size: 14px;
  }
}

.skills {
  text-align: left;
  margin-top: 8vh;
  padding-bottom: 15vh;

  &__list {
    display: inline-block;
    text-align: center;
  }

  &__item {
    display: inline-block;
    position: relative;
    margin: 12px;
  }

  &__item + &__item {

  }

  .percent {
    width: 50vw;
    height: 1vh;
    background:#e3e3e3;

  }

  p {
    font-size: 1.4rem;
    text-align: left;
  }

  .percent:before {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 0;
    height: 1vh;
    background:#424242;
    content:'';
    transition: all ease-in .7s;
  }

  .percent-html:before {
    width: 40vw
  }

  .percent-css:before {
    width: 40vw
  }

  .percent-javascript:before {
    width: 35vw
  }

  .percent-bem:before {
    width: 35vw
  }
  .percent-jquery:before {
    width: 40vw
  }

  .percent-vue:before {
    width: 5vw
  }

}

.work-swiper {
  background: #f2f2f2;

  .work-swiper-slide {
    .img {
      position: absolute;
      width: 50vw;
      height: 35vw;
      text-align: center;
    }

    .img > img {
      width: 50vw;
    }
  }

  .work-swiper-slide:after {
    display: block;
    content:'';
    clear: both;
  }

  .work-swiper-slide--right .detail {
    float: right
  }

  .work-swiper-slide--right .img {
    left:0;
  }

  .work-swiper-slide--left .detail {
    float: left;
    text-align: right;
  }

  .work-swiper-slide--left .img {
    right:0;
  }

  .work-swiper-slide--left a {
    margin-left: auto;
  }

  .detail {
    display: inline-block;
    width: 50vw;
    height: 62vh;
    padding: 23.5vh 5vw 1vh 5vw;
    color: #000000;
    box-sizing: border-box;

    a {
      display: block;
      width: 100px;
      height: 26px;
      margin-top: 2rem;
      padding-top: 2px;
      border: 1px solid #000000;
      border-radius: 15px;
      color: #000000;
      text-align: center;
      box-sizing: border-box;
    }

  }

  .number {
    display: block;
    font-size: 3rem;
  }

  h4 {
    margin-top: -6px;
    font-size: 3.5rem;
    font-weight: bold;
  }

  .contribute, .description {
    display: inline-block;
    font-size: 1.3rem;
  }

  .contribute {
    margin: 15px 0 7px 0;
    span {
      color: #333333;
    }
  }

  .work-all {
    padding: 11vh;
    background: #dbd5c9;

    a {
      display: block;
      color: #ffffff;
      font-size: 11vw;
      line-height: 1.1;
      text-align: center;
    }

    &:hover a:before{
      width: 85vw;
    }

    a:before {
      position: absolute;
      display: block;
      width: 0;
      height: 3px;
      margin-top: 21vh;
      background: #ffffff;
      transition: all ease 1s;
      content:'';
    }
  }
}

.contact {
  width: 100vw;
  height: 100vh;
  padding-top: 32vh;
  background: #dbd5c9;
  font-size: 5vw;
  text-align: center;
  box-sizing: border-box;

  .rolling {
    display: inline-block;
    overflow: hidden;
    width: 25vw;
    height: 5vw;
    line-height: 1;

    &:before {
      display: block;
      position: absolute;
      width: 25vw;
      height: 2px;
      margin-top: 6vw;
      background:#000000;
      content: '';
    }

    .wrap {
      animation-name: rolling;
      animation-duration: 5s;
      animation-timing-function: cubic-bezier(.455,.03,.515,.955);
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    @keyframes rolling {
      0% {
        transform: translateY(0%);
      }

      100% {
        transform: translateY(-50%);
      }
    }

  }

  .contact_1 {
    display: inline-block;
  }

  .contact_3 {
    margin-top: 4vh;
    color: #f93700;
    font-size: 3vw;
  }

  .smiley {
    width: 4.1vw;
    height: 4.1vw;
    animation-name: smiley;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(.455,.03,.515,.955);
    animation-iteration-count: infinite;
    animation-direction: alternate
  }

  @keyframes smiley {
    0% {
      transform: rotate(-15deg)
    }

    5% {
      transform: rotate(25deg)
    }

    10% {
      transform: rotate(-10deg)
    }

    40% {
      transform: rotate(380deg)
    }

    50% {
      transform: rotate(330deg)
    }

    55% {
      transform: rotate(370deg)
    }

    80% {
      transform: rotate(-20deg)
    }

    90% {
      transform: rotate(30deg)
    }

    to {
      transform: rotate(-15deg)
    }
  }

  .contact_4 {
    margin-bottom: 4vh;
    font-size: 2vw;
  }
}





